.playagain-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
}

.playagain-content {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.playagain-content:hover {
    color: #B62F28;
}