table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

.container {
  padding-top: 25px;
  padding-bottom: 15px;
}

.table-content {
  font-family: 'Press Start 2P', cursive !important;
  font-size: small;
}

.table-titleCard {
  display: flex;
  justify-content: center;
}

.table-title {
  font-family: 'Press Start 2P', cursive !important;
}