table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}