#gamemode-list {
    list-style-type: none;
    cursor: pointer;
    padding-right: 1.5em;
}

.playerform input {
    padding: 10px;
    width: 50%;
}

.list-item:hover {
    color: #B62F28;
}

.list-item {
    font-size: 15px;
}

.gamemode-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    width: 30%;
    height: 30%;
    margin: auto;

}

.playerform {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    width: 30%;
    height: 30%;
    margin: auto;
}

.form-button {
    cursor: pointer;
}

.form-button-content:hover {
    color: #B62F28;
}

.start-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    width: 30%;
    height: 30%;
    margin: auto;
}

.start-card-content {
    cursor: pointer;
    /* font-size: 15px; */
}

.start-card-content:hover {
    color: #B62F28;
}

.start-card-link {
    cursor: pointer;
    /* font-size: 15px; */
    text-decoration: none;
    color: black;
}

.start-card-link:hover {
    color: #B62F28;
}