#gamemode-list {
    list-style-type: none;
    cursor: pointer;
}

.list-item:hover {
    background-color: #B62F28;
}

.list-item {
    font-size: 20px;
    width: 100%;
}

.gamemode-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    width: 30%;
    height: 30%;
    margin: auto;

}